
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TemplateUser.cshtml";
}

<section class="services wrapper">
    <ul class="clearfix">
        <li class="animated wow fadeInDown">
            <img class="icon" src="@Url.Content("~/Content/templateUser/")img/icon1.png" alt="" />
            <span class="separator"></span>
            <h2>Officia Deserunt Mollit</h2>
            <p>
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua voluptate velit esse
                cillum dolore.
            </p>
        </li>
        <li class="animated wow fadeInDown" data-wow-delay=".2s">
            <img class="icon" src="@Url.Content("~/Content/templateUser/")img/icon2.png" alt="" />
            <span class="separator"></span>
            <h2>Culpa Killum Dolore</h2>
            <p>aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </li>
        <li class="animated wow fadeInDown" data-wow-delay=".4s">
            <img class="icon" src="@Url.Content("~/Content/templateUser/")img/icon3.png" alt="" />
            <span class="separator"></span>
            <h2>Elit Tempor Incididunt</h2>
            <p>nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat enim ad minim veniam.</p>
        </li>
    </ul>
</section><!--  End services  -->
<section class="video">
    <img src="@Url.Content("~/Content/templateUser/")img/video_logo.png" alt="" class="video_logo animated wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
    <h3 class="animated wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">who we are &amp; what we do</h3>
    <a href="https://www.youtube.com/watch?v=hamWPdqOBwE" id="play_btn" class="fancybox animated wow flipInX animated" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-name: flipInX;"></a>
</section>

